.App {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 4rem;
  
}

.winText{
    font-size: 3rem;
}

.gameView{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gridWrapper {
   display: flex;
    width: 30rem;
    height: 30rem;
  
    border: 3px palevioletred solid;
    padding: 0;
    margin: 0;
}

.rowWrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.symbols {
    border: 2px palevioletred dashed;
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 10rem;
    width: 10rem;
    background-color: lightyellow;
    font-size: 8rem;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.X{
    color: gold;
}

.O{
    color: orangered;
}

.reset {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 2rem;
    color: white;
    background-color: crimson;
    border: 3px palevioletred solid;
    border-radius: 7px;
}