.App {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.gridWrapper {
    display: flex;
     width: 30rem;
     height: 30rem;
   
     border: 3px palevioletred solid;
     padding: 0;
     margin: 0;
 }

.rowWrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.symbols {
    border: 2px palevioletred dashed;
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 10rem;
    width: 10rem;
    background-color: lightyellow;
    font-size: 8rem;
}

.X{
    color: gold;
}

.O{
    color: orangered;
}